.header {
    background-color: azure;
    height: 60px;
    text-align: center;
}
.logo{
    font-size: 40px;
    color: black;
    

}
.navbars {

    margin-bottom: 20px;
}
.h6 {
    color: gray;
}
.header-1{
text-align: center;
}
.cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.menu-item{
    
    padding: 27px;
    background-color: #fff;
    opacity: 0.5;
    color: black;
    position: absolute;
    top: 101px;
    right: 63px;
    border: 2px solid cyan;
    border-radius: 30px;
}
 
    

.image{
    position: relative;
    width: 100%;
}
.main{
display: flex;
justify-content: center;
}
.list {
    display: inline;
    padding: 60px;
    /* margin-top: 18px; */
    position: relative;
    top: 100px;

}
.border-C {
    border: 2px solid black;
    height: 400px;
}
.total{
    right: -287px;
    margin-top: 56px;
    position: absolute;
}
.price2{
    margin: 45px;
}

.marginC {
    margin-top: 40px;
}
.cartProductBorder  {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.2)
}
.cartProductInner  {
    padding: 20px 5px;
    
    display: flex;
    
    justify-content: space-between;
}
.display {
    display: flex;
}
.images{
    left: 100px;
    position: relative;
}